@import './general/modern-normalize';

@import './utils/variables';

@import './general/base';
@import './general/container';

@import './components/header';
@import './components/logo';
@import './components/button';
@import './components/section-hero';
@import './components/section-title';
@import './components/section-doing';
@import './components/section-command';
@import './components/section-clients';
@import './components/footer';
@import './components/modal';
