
   /*logo header + footer */
   .web{
    display: inline-block;
  
    color: $accent-color;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }

 /*logo hesder*/
.studio{
 
    color: $studio-color;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
   }

   /*logo footer*/

.logo{
    display: inline-block;
    
    color: $main-title-color;
    font-family:  $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }