.section-clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
    
.clients{
  display: flex;
}

.clients li + li{
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 90px;
    
  border:1px solid var(--icon-fill-color);
  box-sizing:border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--icon-fill-color);
    
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
    
.clients__link:hover,
.clients__link:focus{
    color:var(--accent-color);
    border-color:var(--accent-color);
}

.clients__icon{
   fill:currentColor
}