
:root{
    --main-text-color:#212121;
    --accent-color:#2196F3; 
    --text-color:#757575 ;
    --main-title-color: #FFFFFF;
    --studio-color--:#000000;
    --footer-hero-color:#2F303A;
    --background-color:#F5F4FA ;
    --contact-color:rgba(255, 255, 255, 0.6);
    --border-bottom-color:#ECECEC;
    --border-card-color:#eeeeee;
    --icon-fill-color:#afb1b8;
    --social-link-footer-background:rgba(255, 255, 255, 0.1);
    --title-big-img-background:rgba(47, 48, 58, 0.8);
    --overlay-background-color: rgba(33, 150, 243, 0.9);
    }
  